<!DOCTYPE html>
<html>

<head>
    <title>Stonks</title>
</head>

<body>

    <h1>Stonks</h1>

    <form onsubmit="handleForm(event)">
        <label for="tSymbol">Ticker Symbol:</label>
        <input type="text" id="tSymbol" name="tSymbol"><br><br>

        <input type="radio" id="daily" name="timeframe" value="DAILY">
        <label for="daily">Daily</label><br>

        <input type="radio" id="weekly" name="timeframe" value="WEEKLY">
        <label for="weekly">Weekly</label><br>

        <input type="radio" id="monthly" name="timeframe" value="MONTHLY">
        <label for="monthly">Monthly</label><br><br>

        <input type="submit" value="Submit">
    </form>

    <script>
        function handleForm(event) {
            event.preventDefault(); // Prevent form from reloading page

            let symbol = document.getElementById("tSymbol").value;
            let choice = document.querySelector('input[name="timeframe"]:checked');

            if (!symbol) {
                alert("Please enter a ticker symbol.");
                return;
            }
            if (!choice) {
                alert("Please select a timeframe.");
                return;
            }

            APIchecker(symbol, choice.value);
        }

        async function APIchecker(symbol, choice) {
            //let apiUrl = `https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=${symbol}&datatype=json&apikey=Y5M68XBXFU2HZ9H6`;
            //let apiUrl = `https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=${symbol}&datatype=json&apikey=KY71PQJ0ICH0O3EY`;
            let apiUrl = `https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=${symbol}&datatype=json&apikey=DLYQY88QXZO200NM`;

            try {
                let response = await fetch(apiUrl);
                if (!response.ok) {
                    throw new Error('Network Error');
                }
                let data = await response.json();
                console.log(`Symbol: ${symbol}, Timeframe: ${choice}`);
                console.log(data);

                await fetch("http://127.0.0.1:5000/parse_data", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ symbol: symbol, choice: choice, api_response: data })
                        });
                        console.log("Data sent to Python server.");
            } catch (error) {
                console.error('Fetch error:', error);
            }


            
        }
    </script>

</body>

</html>